@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'Judson', serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: background-color 0.5s ease;
  z-index: 1000;
}

.church-name a {
  text-decoration: none;
}

.church-name a,
.church-name a:visited,
.church-name a:hover,
.church-name a:active,
.church-name a:focus {
  text-decoration: none;
  color: White;
}

.transparentNav {
  background-color: transparent;
}

.darkNav {
  background-color: black;
}

.darkNav .church-name, .darkNav .nav-links a {
  color: white;
}

.nav-links a, .church-name {
  color: black; /* Default color for transparentNav */
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px;
}

.logo {
  width: 50px; /* Adjust as necessary */
  height: auto;
}